@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Colors:
Gold: #eeb211
Dark blue: #00254c
Medium blue: ##023d7b
Light gray: #e6e6e6
Medium gray: #a9a9a9
Dark gray: #646464
 */

body {
  font-family: “Helvetica Neue”, “Helvetica”, Helvetica, Arial;
}
.utility {
  border-top: 2px solid #a9a9a9;
  height: 50px;
  background-color: #fff;
  color: #a9a9a9;
  font-family: Roboto, sans-serif;
  font-size: 13.7667px;
  font-weight: bold;
}
.branding {
  
}